@model List<SubscriptionType>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 style="color: #417690; font-weight:900;">Subscription Types</h1>
        </div>
        <div class="col-6 text-end d-flex align-items-end justify-content-end">
            <a class="btn btn-success" href="/Admin/SubscriptionType/Create">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Subscription Type
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered border-white" style="width:100%">
        <thead style="background: white; color: #417690;">
            <tr>
                <th class="text-center">
                    Title
                </th>
                <th class="text-center">
                    Price
                </th>
                <th class="text-center">
                    Solutions
                </th>
                <th class="text-center">
                    Explanations
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background: #417690; color: #417690; vertical-align: middle;">
            @foreach (var obj in Model.OrderBy(i => i.Price))
            {
                <tr style="color: white; background: #417690;">
                    <td class="text-center">
                        @obj.Title
                    </td>
                    <td class="text-center">
                        @obj.Price
                    </td>
                    <td class="text-center">
                        @obj.Solution
                    </td>
                    <td class="text-center">
                        @obj.Explanation
                    </td>
                    <td class="text-center">
                        <div class="w-75 btn-group custom-opacity" role="group">
                            <a asp-route-id="@obj.Id" asp-controller="SubscriptionType" asp-action="Edit"
                               class="btn mx-2" style="background: white; color: #417690;">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-route-id="@obj.Id" asp-controller="SubscriptionType" asp-action="Delete"
                                class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>